html {
    background-image: url('https://i.imgur.com/yA95dHn.png');
    background-size: 100% auto;
    background-repeat: repeat;
    background-color: #10141B;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

ul{
    list-style: none;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: #00000000;
}

*::-webkit-scrollbar-thumb {
    background: #D8F3DCAA;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #D8F3DC60;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    min-height: 100vh;
}

/* HEADER */

#page-header {
    position: relative;
    height: 63px;
    backdrop-filter: blur(12px);
}

#header-border {
    position: absolute;
    background-color: #D8F3DC;
    bottom: 0;
    width: 100%;
    height: 2px;
    box-shadow: 0 0 10px #D8F3DC;
}

#header-logo {
    height: 100%;
}

/* LEFT MENU */

.sidebar-left {
    grid-column: 1 / 2;
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow-y: auto;
    /*border: dashed green 2px;*/
}

.sidebar-left ul {
    padding: 0 0 0 10%;
    margin: 10px;
}

.sidebar-left ul img {
    width: 11%;
}

.sidebar-left ul li {
    margin-bottom: 22px;
}

.sidebar-left ul li a {
    font-size: 2rem;
    color: #F3D8EF;
    font-family: 'Darker Grotesque', sans-serif;
    text-shadow: 0 0 10px #F3D8EF;
    text-decoration: none;
    margin: 0 0 0 10%;
}

.sidebar-left ul li a span{
    font-size: 3rem;
}

#main-logo{
    margin-top: 8px;
    width: 85%;
}

/* MAIN CONTENT */

.main-content {
    position: relative;
    grid-column: 2 / 3;
    /*border: dashed blue 2px;*/
    /*height: 3000px;*/
    display: flex;
    justify-content: center;
}

#background {
    position: absolute;
    width: 150%;
    height: 100%;
    background-color: #10141B;
    filter: blur(150px);
    z-index: -1;
    margin-left: -25%;
    margin-right: -25%;
}

#feed{
    /*border: red dashed 2px;*/
    width: 100%;
}

/*NEW POST*/

#new-post {
    /*border: green dashed 2px;*/
    height: 300px;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
}

#messageInput {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0 10px 0;
    backdrop-filter: blur(4px);
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.25);
}

#postImg {
    display: none;
}

#buttons {
    display: flex;
    align-items: center;
}

.btn {
    background-color: #D8F3DC;
    border: none;
    color: #10141B;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 1.2em;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #D8F3DC60;
}

#preview {
    max-width: 80%;
}

/*FILTERS*/

#filters{
    /*border: pink dashed 2px;*/
    height: 100px;
}


/* RIGHT MENU */

.sidebar-right {
    grid-column: 3 / 4;
    /*border: dashed red 2px;*/
    padding-top: 50px;
}

.sidebar-right .shiny{
    font-size: 2rem;
    color: #D8F3DC;
    font-family: 'Darker Grotesque', sans-serif;
    text-shadow: 0 0 10px #D8F3DC;
}

.sidebar-right span{
    font-size: 2.8rem;
}

/* FOOTER */

footer {
    grid-column: 1 / -1;
}
