<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forum</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&family=Source+Serif+4:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./css/page.css">
  <link rel="stylesheet" type="text/css" href="./css/post.css">
</head>

<body>

<div id="message"></div>

<div id="overlay_login"></div>
<div id="login_container" class="login_container">
  <div class="tab">
    <button class="tab-links" onclick="openTab(event, 'login_tab')" id="defaultOpen">Login</button>
    <button class="tab-links" onclick="openTab(event, 'register_tab')">Register</button>
  </div>

  <div id="login_tab" class="tab-content">
    <h2>Welcome Back</h2>
    <form action="" method="POST" id="login_form" class="auth_form">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <input type="submit" value="Login" class="auth_form_submit">
    </form>

    {{ if .error }}
    <p style="color: red;margin: 10px 0;">{{ .error }}</p>
    {{ end }}

    <div class="oauth_btn">
      <a href="/auth/google?state=login" class="btn-auth google-btn">
        <i class="fab fa-google"></i> LogIn with Google
      </a>

      <a href="/auth/github?state=login" class="btn-auth github-btn">
        <i class="fab fa-github"></i> LogIn with Github
      </a>
    </div>
  </div>

  <div id="register_tab" class="tab-content">
    <h2>Create an Account</h2>
    <form action="" method="POST" id="signup_form" class="auth_form">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <input type="submit" value="Register" class="auth_form_submit">
    </form>

    {{ if .error }}
    <p style="color: red;margin: 10px 0;">{{ .error }}</p>
    {{ end }}
    <div class="oauth_btn_separator"></div>
    <div class="oauth_btn">
      <a href="/auth/google" class="btn-auth google-btn">
        <i class="fab fa-google"></i> SignIn with Google
      </a>
      <a href="/auth/github" class="btn-auth github-btn">
        <i class="fab fa-github"></i> SignIn with Github
      </a>
    </div>
  </div>
</div>

<div id="overlay_reply"></div>
<div class="reply_modal" id="reply_modal">
  <input type="text" id="reply_input" placeholder="Type a message...">
  <input type="file" id="post_img" accept=".jpg,.jpeg,.png,.gif" name="postImg">
  <button id="send_reply">Send</button>
</div>

<header id="page-header">
  <img id="header-logo" src="img/HeaderLogo.png" alt="Forum">
  <div id='login_signup' class="login_signup">
    <button id="login_btn">LOGIN</button>
  </div>
  <div id="header-border"></div>
</header>

<main class="container">

  <aside class="sidebar-left">
    <img id="main-logo" src="img/HeaderLogo.png" alt="Forum Logo">
    <nav>
      <ul>
        <li><img src="img/icon/discover.png" alt="Discover"><a href="#"><span>D</span>iscover</a></li>
        <li><img src="img/icon/message.png" alt="Profile"><a href="/user"><span>P</span>rofile</a></li>
        <li><img src="img/icon/profile.png" alt="Message"><a href="#"><span>M</span>essage</a></li>
        <li><img src="img/icon/settings.png" alt="Settings"><a href="#"><span>S</span>ettings</a></li>
      </ul>
    </nav>
  </aside>

  <section class="main-content">
    <div id="background"></div>

    <dialog id="post-menu">
      <ul>
        <li><a href="#">Author</a></li>
        <li><a onclick="reportPost(event)">Report</a></li>
      </ul>
    </dialog>


    <div id="feed">

      <section id="new-post">
        <input type="text" id="messageInput" placeholder="Type a message..." autocomplete="off">

        <div id="buttons">
          <input type="file" id="postImg" accept=".jpg,.jpeg,.png,.gif" name="postImg" style="display: none;">
          <label class="btn" for="postImg">
            <i class="fa-solid fa-arrow-up-from-bracket"></i>
          </label>

          <button id="sendButton" class="btn needAuth"><i class="fa-solid fa-arrow-right"></i></button>
        </div>

        <div id="image-preview" style="display: none;">
          <img id="preview" src="" alt="Image preview"/>
        </div>

      </section>

<!--      <section id="filters">-->
<!--      </section>-->

          <template id="post-template">
      <article class="post" data-post-id="">
        <header>
          <img src="./img/RivenGPT.jpg" alt="profile pic" class="profile-pic">
          <span class="post-author"></span>
          <span class="open-dialog">...</span>
        </header>
        <div class="post-body">
          <p class="post-content"></p>
          <img src="" alt="" class="post-image">
        </div>
        <footer>
          <div class="icon-wrapper">
            <i class="fa-solid fa-heart fa-shake fa-2xl needAuth"></i>
            <div class="icon-text likes">0</div>
          </div>
          <div class="icon-wrapper">
            <i class="fa-regular fa-comment fa-2xl needAuth"></i>
            <div class="icon-text comments">0</div>
          </div>
          <div class="icon-wrapper">
            <a onclick="reply(event)"><i class="fa-solid fa-share-nodes fa-2xl"></i></a>
          </div>
          <div class="icon-wrapper report">
            <a class="needAuth" onclick="reportPost(event)">Report</a>
          </div>
        </footer>
      </article>
          </template>

      <!-- add posts here -->
    </div>


  </section>


  <aside class="sidebar-right">
      <h2 class="shiny"><span>S</span>uggestions for you</h2>
      <ul>
        <!-- new contact suggestions -->
        <li class="shiny">...</li>
      </ul>
  </aside>
</main>

<!--<footer>-->
<!--  <p>© 2023 Forum</p>-->
<!--</footer>-->

<script src="./script/page.js"></script>
<script src="./script/login.js"></script>
<script src="./script/signup.js"></script>
<script src="./script/post.js"></script>
</body>
</html>
