<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/user.css"/>
</head>
<body>
<div id="modal_overlay"></div>
<div class="container_large">

    <div id="profile_modal" class="profile_modal">
        <form action="/user" method="POST" enctype="multipart/form-data" id="submit_modifications">
            <label for="username">Username:</label>
            <input class="profile_input" type="text" id="username" name="username">
            <label for="username">Profile Image:</label>
            <input class="profile_input" type="file" name="profile-img" accept=".jpg,.jpeg,.png,.gif"
                   onchange="showPreview(event)">

            <div class="profile_image">
                <img id="img-preview">
            </div>

            <input id="submit_changes" type="submit" value="Update the profile">
        </form>
    </div>

    <div class="content_container">
        <section class="notifications">
            <h4 class="section_header">Notifications:</h4>
            <div class="notifications_container">
                {{ range .notifs }}
                <div id="notification_{{ .NotificationID }}" class="notification_item">
                    <p>{{ .Message }}</p>
                    <p>{{ .FormatDateNotif }}</p>
                    <button id="delete_notification_{{ .NotificationID }}" onclick="deleteNotification({{ .NotificationID }})">X
                    </button>
                </div>
                {{end}}
            </div>
        </section>

        <section class="post_section">
            <h4 class="section_header">Posts:</h4>
            {{range .posts}}
            <div class="post">
                <p>{{.Message}}</p>
                <p>#{{ .PostID }}</p>
                {{ if .Picture }}
                <img class="image_post" src="data:image/jpeg;base64,{{.EncodedImage}}" alt="{{.PostID}}_post_img">
                {{ end }}
                <p>{{.FormattedCreatedAt}}</p>
            </div>
            {{end}}
        </section>
    </div>
    <section class="user_section">
        <h4 class="section_header">Your profile:</h4>
        <div id="user_section"></div>

        <button id="open_edit">Edit profile</button>
    </section>
</div>

<script src="script/user.js"></script>

</body>
</html>